<div class="row">
  <div class="col-8 offset-2">
    <table class="table">
      <tr>
        <th width="160">募集タイトル</th>
        <td>
          <%= f.text_field :title, placeholder:"例, 対戦相手募集(30文字以内)",size: 50 %>
        </td>
      </tr>
      <tr>
        <th>募集メンバー</th>
        <td>
          <%= f.select :level,  Matchmake.levels.keys.to_a, {}  %>
        </td>
      </tr>
      <tr>
        <th>募集カテゴリー</th>
        <td>
          <%= f.select :category,  Matchmake.categories.keys.to_a, {}  %>
        </td>
      </tr>
      <tr>
        <th>募集数</th>
        <td>
          <%= f.number_field :capacity, min: 0, max: 10 %>チーム
        </td>
      </tr>
      <tr>
        <th>募集日程</th>
        <td>
          <%= f.date_field :day %>
          <%= f.time_field :time  %>
        </td>
      </tr>
      <tr>
        <th>開催場所</th>
        <td>
          <%= f.text_field :place, placeholder:"例, FCONフットサル場",size: 50 %>
        </td>
      </tr>
      <tr>
        <th>参加費</th>
        <td>
          <%= f.text_field :money, placeholder:"例, ２０００円〜２５００円（人数によって変動）",size: 50 %>
        </td>
      </tr>
      <tr>
        <th>募集内容</th>
        <td>
          <%= f.text_area :introduction, placeholder:"例, レベル、カテゴリーに関係なく対戦相手を募集してます！！もし興味のある方コメントにて連絡ください！！よろしくお願いします！！(中学生以下の方はお断り頂いております。ご了承ください。)",size: "50*100" %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="actions">
            <%= f.submit "登録する" ,class:"btn btn-primary btn-sm w-75" %>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>