<div class="col-6">
      <table class="table table-bordered">
        <tr>
          <td width="125">
            <%= attachment_image_tag matchmake.group, :group_image, size: "125x125", format: 'jpeg', fallback: "no_image2.jpg"%>
          </td>
          
          <td>
            <%= link_to matchmake_path(matchmake.id) do%>
              <strong><%= matchmake.title%></strong><br>
            <% end %>
            <strong>チーム名　　　　</strong><%= matchmake.group.name %><br>
            <strong>募集日程　　　　</strong><%= matchmake.day.strftime("%Y年%m月%d日") %> <%= matchmake.time.strftime("%H時%M分〜") %><br>
            <strong>募集カテゴリー　</strong><%= matchmake.category %><br>
            <strong>募集メンバー　　</strong><%= matchmake.level %><br>
            <strong>募集数　　　　　</strong><%= matchmake.capacity %>チーム<br>
          </td>
        </tr>
      </table>
    </div>