<h2>マッチメイク募集一覧</h2>
<%# 絞り込み検索 %>
<div class="row">
  <div class = "col-8">
    <%= form_tag(matchmakes_path, method: "get") do %>
      <table class="table table-borderless"> 
          <tr>
            <td>
              <strong>チーム名</strong><br>
              <span>
                <%= text_field_tag :name, params[:name],size: 35 %>
              </span>
            </td>
            <td><strong>募集日程</strong><br>
              <span>
                <%= date_field_tag :day, params[:day] %>
              </span>
            </td>
            <td><strong>カテゴリー</strong><br>
              <span>
                <%= select_tag :category, options_for_select(Matchmake.categories), include_blank: true %>
              </span>
            </td>
            <td>
              <strong>募集メンバー</strong><br>
              <span>
                <%= select_tag :level, options_for_select(Matchmake.levels), include_blank: true %>
              </span>
            </td>
            <td><br><span><%= submit_tag "検索" %></span></td>
          </tr>
      </table>
    <% end %>
  </div>
</div>
<%# 絞り込み検索ここまで %>

<div class ="row">
  <% @matchmakes.each do |matchmake|%>
    <%=render "matchmake_index", matchmake: matchmake%>
  <% end %>
  <%= paginate @matchmakes, class: "paginate" %>
</div>