<%= form_for group do |f| %>
  <%= render 'layouts/error_messages', record: @group %>
  <div class="row">
    <div class="col-8 offset-2">
      <table class="table">
        <tr>
          <th width="190">チーム名</th>
          <td>
            <%= f.text_field :name, placeholder:"チームFCON(20文字以内)",size: 45 %>
          </td>
        </tr>
        <tr>
        <th>地域</th>
          <td>
            <%= f.select :city, Group.cities.keys.to_a, {}  %>
          </td>
        </tr>
        <tr>
          <th>ホームグラウンド</th>
          <td>
            <%= f.text_field :place, placeholder:"FCONフットサル場(任意)",size: 45  %>
          </td>
        </tr>
        <tr>
        <th>カテゴリー</th>
          <td>
            <%= f.select :category, Group.categories.keys.to_a, {}  %>
          </td>
        </tr>
        <tr>
        <th>レベル</th>
          <td>
            <%= f.select :level, Group.levels.keys.to_a, {}  %>
          </td>
        </tr>
        <tr>
        <th>男女比</th>
          <td>
            男性<%= f.number_field :male_member, min: 0 ,max:99%>人<span>　</span>
            女性<%= f.number_field :female_member, min: 0 ,max:99%>人
          </td>
        </tr>
        <tr>
        <th>平均年齢</th>
          <td>
            <%= f.number_field :average_age, min: 0 ,max:99%>歳
          </td>
        </tr>
        <th>チーム画像</th>
        <td>
          <%= f.attachment_field :group_image, placeholder: "画像選択" %>
        </td>
        <tr>
          <th>チーム紹介</th>
          <td>
            <%= f.text_area :group_introduction, placeholder:"こんにちは！！" ,size: "45*100"%>
          </td>
        </tr>
        <tr>
        <td></td>
        <td>
          <div class="actions">
            <%= f.submit "登録する" ,class:"btn btn-primary btn-sm w-75" %>
          </div>
        </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>