<h2>チーム一覧</h2>
<div class="row">
  <div class="col-10 offset-1">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>チーム名</th>
          <th>活動地域</th>
          <th>カテゴリー</th>
          <th>レベル</th>
          <th></th>
        </tr>
      </thead>
      <% @groups.each do |group|%>
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag group, :group_image, size: "50x50", fallback: "no_image2.jpg"%>
            </td>
            <td><%= group.name %></td>
            <td><%= group.city %></td>
            <td><%= group.category %></td>
            <td><%= group.level %></td>
            <td>
            <%= link_to "チーム詳細へ", group_path(group.id) %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
    <%= paginate @groups, class: "paginate" %>
  </div>
</div>
