<p id="notice"><%= notice %></p>
<h2>チーム詳細</h2>
<div class="row">
  <div class="col-4 offset-1">
    <table class="table table-borderless">
      <tr>
        <td>
        <%= attachment_image_tag @group, :group_image, size: "300x250", format: 'jpeg', fallback: "no_image2.jpg"%>
        </td>
      </tr>
      <tr>
        <td>
          <strong>チーム作成者：</strong>
          <%= link_to user_path(@group.end_user) do %>
            <%= @group.end_user.nick_name %>
          <% end %>
        </td>
      </tr>
      <%# ログインしてないユーザーの場合表示しない %>
      <% if end_user_signed_in?%>
      <%# group作成者のend_user_idとログインユーザーidが一緒なら表示 %>
        <% if @group.end_user_id == current_end_user.id || current_end_user.admin? %>
          <tr>
            <td>
              <%= link_to "編集する",edit_group_path(@group) ,class: "btn btn-primary btn-sm btn-block" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "チームを削除する", group_path, method: :delete, "data-confirm" => "本当に消しますか？",class:"btn btn-danger btn-sm btn-block" %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "マッチメイクを募集する", new_group_matchmake_path(@group) ,class: "btn btn-success btn-sm btn-block"%>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to "新メンバーを募集する", new_group_teammate_recruitment_path(@group),class: "btn btn-success btn-sm btn-block" %><br>
              <%= link_to "投稿一覧", group_post_index_path(@group),class: "btn btn-primary btn-sm btn-block"  %>
            </td>
          </tr>
          <% else %>
          <tr>
            <td>
            <%# チーム参加、脱退機能 %>
              <% if @group.join_by?(current_end_user) %>
                  <%= link_to   group_group_users_path(@group),class:"btn btn-danger btn-sm btn-block", method: :delete do %>
                    <i  aria-hidden="true" ></i>
                    <%= "チームから抜ける" %>
                  <% end %>
              <% else %>
                  <%= link_to  group_group_users_path(@group),class:"btn btn-success btn-sm btn-block", method: :post do %>
                    <i  aria-hidden="true" ></i>
                    <%= "チームに参加する" %> 
                  <% end %>
              <% end %>
              <%# チーム参加、脱退機能ここまで %>
            </td>
          </tr>
        <% end %>
      <% end %>
      <tr>
          <td>
            <%= link_to "所属メンバー",group_menber_index_path(@group),class: "btn btn-info btn-sm btn-block" %>
          </td>
        </tr>
      <%# ここまで %>
    </table>
  </div>
  <div class="col-6">
    <table class="table table-bordered">
      <tr>
        <th>チーム名</th>
        <td><%= @group.name %></td>
      </tr>
      <tr>
        <th>活動地域</th>
        <td><%= @group.city %></td>
      </tr>
      <tr>
        <th>ホームグランド</th>
        <td><%= @group.place %></td>
      </tr>
      <tr>
        <th>カテゴリー</th>
        <td><%= @group.category %></td>
      </tr>
      <tr>
        <th>レベル</th>
        <td><%= @group.level %></td>
      </tr>
      <tr>
        <th>平均年齢</th>
        <td><%= @group.average_age %>歳</td>
      </tr>
        <th>男女比</th>
        <td>
          男性<%= @group.male_member %>人 :
          女性<%= @group.female_member %>人
        </td>
      </tr>
    </table>
    <table class="table table-bordered">
      <tr><strong>チーム紹介</strong></tr>
      <%# 入力された段落通りに表示 %>
      <td><%= simple_format(@group.group_introduction) %></td>
    </table>
  </div>
</div>

