<h2>登録情報編集</h2>

<%= form_for @user, url: user_path do |f| %>
  <div class="row">
    <div class="col-3 offset-1">
      <%= attachment_image_tag @user, :user_image, size: "200x200", fallback: "no_image.jpg"%>
      <%= f.attachment_field :user_image, placeholder: "画像選択" %>
    </div>
    <div class="col-7">
      <table class="table">
        <tr>
          <td>ニックネーム</td>
          <td><%= f.text_field :nick_name, placeholder:"FCON太郎(10文字以内)",size: 25 %></td>
        </tr>
        <tr>
          <td>電話番号</td>
            <td>
              <%= f.telephone_field :phone_number, placeholder: "090-1234-5678(ハイフン)", size: 25 %>
            </td>
        </tr>
        <tr>
          <td>メールアドレス</td>
            <td>
              <%= f.email_field :email, placeholder: "fcon@fmail.com", size: 25 %>
            </td>
        </tr>
        <tr>
          <td>性別</td>
            <td>
              <%= f.select :gender, EndUser.genders.keys.to_a, {}  %>
            </td>
        </tr>
        <tr>
          <td>年齢</td>
            <td>
              <%= f.select :age, EndUser.ages.keys.to_a, {} %>
            </td>
        </tr>
        <tr>
          <td>フットサル経験</td>
            <td>
              <%= f.number_field :fotsal_experience, min: 0 ,max:99%>年
            </td>
        </tr>
        <tr>
          <td>サッカー経験</td>
            <td>
              <%= f.number_field :soccer_experience,min: 0 ,max:99 %>年
            </td>
        </tr>
        <tr>
          <td>自己紹介etc</td>
          <td>
          <%= f.text_area :introduction, placeholder:"こんにちは！！",size: "50*50" %>
          </td>
        </tr>
        <tr>
        <td></td>
        <td>
          <div class="actions">
            <%= f.submit "登録する" ,class:"btn btn-primary btn-sm btn-block" %>
            
          </div>
        </td>
      </tr>
      </table>
    </div>
  </div>
<% end %>
