<h2 class="mt-5">会員一覧</h2>
<%#　絞り込み機能%>
<div class="row">
  <div class = "col-4">
    <%= form_tag(users_path, method: "get") do %>
      <table class="table table-borderless"> 
          <tr>
            <td>
              <strong>ニックネーム</strong><br>
              <span>
                <%= text_field_tag :nick_name, params[:nick_name],size: 35 %>
              </span>
            </td>
            <td><strong>年齢</strong><br>
              <span>
                <%= select_tag :age, options_for_select(EndUser.ages), include_blank: true %>
              </span>
            </td>
            <td><br><span><%= submit_tag "検索" %></span></td>
          </tr>
      </table>
    <% end %>
  </div>
</div>
<%# 絞り込み機能ここまで%>
<div class="row">
  <div class="col-10 offset-1">
      表示件数：<%= @users.count%>件
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ニックネーム</th>
            <th>年齢</th>
            <th>フットサル経験</th>
            <th>サッカー経験</th>
            <th></th>
          </tr>
        </thead>
        <% if  @users.present? %>
          <% @users.each do |user| %>
            <tbody>
              <tr>
                <td>
                  <%= attachment_image_tag user, :user_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg" , size: "50x50"%>
                </td>
                <td><%= user.nick_name%></td>
                <td><%= user.age%></td>
                <td><%= user.fotsal_experience %>年</td>
                <td><%= user.soccer_experience %>年</td>
                <td>
                  <%= link_to "会員詳細へ", user_path(user.id),class: "nav-link" %>
                </td>
              </tr>
            </tbody>
          <% end %>
        <% else %>
          <h4>検索結果はありません</h4>
      <% end %>
    </table>
    <%= paginate @users, class: "paginate" %>
  </div>
</div>