<h2>会員一覧</h2>
<div class="row">
  <div class="col-8 offset-2">
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>ニックネーム</th>
            <th>年齢</th>
            <th>フットサル経験</th>
            <th></th>
          </tr>
        </thead>
      <% @users.each do |user| %>
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag user, :user_image, size: "50x50", fallback: "no_image.jpg"%>
            </td>
            <td><%= user.nick_name%></td>
            <td><%= user.age%></td>
            <td><%= user.fotsal_experience %>年</td>
            <td>
              <%= link_to "会員詳細へ", user_path(user.id) %>
            </td>
          </tr>
        </tbody>
      <% end %>
    <table>
  <div>
</div>