<h2>メンバー募集一覧</h2>
<div class ="row">
  <% @teammates.each do |teammate|%>
    <div class="col-6">
      <table class="table table-bordered">
        <tr>
          <td width="125">
            <%= attachment_image_tag teammate.group, :group_image, size: "125x125", fallback: "no_image2.jpg"%>
          </td>
          
            <td>
            <%= link_to teammate_path(teammate.id) do%>
              <strong><%= teammate.title%></strong><br>
            <% end %>
          
            <strong>チーム名　　</strong><%= teammate.group.name %><br>
            <strong>カテゴリー　</strong><%= teammate.group.category %><br>
            <strong>募集レベル　</strong><%= teammate.level %><br>
            <strong>活動地域　　</strong><%= teammate.group.city %><br>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
  <%= paginate @teammate_page, class: "paginate" %>
</div>