<h2>メンバー募集 詳細</h2>
<div class="row">
  <div class="col-4 offset-1">
    <table class="table table-borderless">
      <tr>
        <td>
    <%= attachment_image_tag @teammate.group, :group_image, size: "300x250", fallback: "no_image2.jpg"%>
        </td>
      </tr>
      <tr>
        <td>
          <strong>チーム名：</strong>
          <%#= link_to group_path(@group) do %>
            <%= @teammate.group.name %>
          <%# end %>
        </td>
      </tr>
      <%# group_idとgroup.idが一緒なら表示 %>
      <%# if @teammate.group_id == group.id %>
      <tr>
        <td>
          <%= link_to "編集する",edit_group_teammate_path(@teammate) ,class: "btn btn-primary btn-sm btn-block" %>
        </td>
      </tr>
     <%# end %>
      <%# ここまで %>
    </table>
  </div>
  <div class="col-6">
  <span>投稿日： <%= @teammate.created_at.strftime("%Y年%m月%d日") %></span>
  <h4><%= @teammate.title%></h4>
    <table class="table table-bordered">
        <th>募集メンバー</th>
        <td><%= @teammate.level %></td>
      </tr>
      <tr>
        <th>カテゴリー</th>
        <td><%= @teammate.group.category %></td>
      </tr>
      <tr>
        <th>チームレベル</th>
        <td><%= @teammate.group.level %></td>
      </tr>
      <tr>
        <th>男女比</th>
        <td>
          男性<%= @teammate.group.male_member %>人 :
          女性<%= @teammate.group.female_member %>人
        </td>
      </tr>
      <tr>
        <th>活動地域</th>
        <td><%= @teammate.group.city %></td>
      </tr>
      <tr>
        <th>活動日</th>
        <td><%= @teammate.schedule %></td>
      </tr>
      <tr>
        <th>参加費</th>
        <td><%= @teammate.money %></td>
      </tr>
    </table>
    <table class="table table-bordered">
      <tr><strong>募集内容</strong></tr>
      <%# 入力された段落通りに表示 %>
      <td><%= simple_format(@teammate.introduction) %></td>    </table>
  </div>
</div>

      
    