<div class="col-6">
      <table class="table table-bordered">
        <tr>
          <td width="125">
            <%= attachment_image_tag teammate_recruitment.group, :group_image, :fill, 125, 125,format: 'jpeg', fallback: "no_image2.jpg", size: "125x125"%>
          </td>
          
          <td>
            <%= link_to teammate_recruitment_path(teammate_recruitment.id),class: "link" do%>
                <strong><%= teammate_recruitment.title%></strong><br>
            <% end %>
            <strong>チーム名　　</strong><%= teammate_recruitment.group.name %><br>
            <strong>カテゴリー　</strong><%= teammate_recruitment.group.category %><br>
            <strong>募集メンバー　</strong><%= teammate_recruitment.level %><br>
            <strong>活動地域　　</strong><%= teammate_recruitment.group.city %><br>
          </td>
        </tr>
      </table>
    </div>