<!-- ログインしているユーザーのヘッダー -->
<% if end_user_signed_in?%>
  <ul class="nav navber">
    <li>
      <%= link_to "会員一覧", users_path, style:"color:#FFF;",class:"nav-link"%>
    </li>
    <li>
      <%= link_to "チーム一覧", groups_path, style:"color:#FFF;", class:"nav-link"%>
    </li>
    <li>
      <%= link_to "メンバー募集一覧", teammate_recruitments_path, style:"color:#FFF;", class:"nav-link"%>
    </li>
    <li>
      <%= link_to "マッチメイク募集一覧", matchmakes_path, style:"color:#FFF;", class:"nav-link"%>
    </li>
  </ul>
      
<!-- ログインしてないユーザー -->
<% else %>
  <ul class="nav navber">
    <li>
      <%= link_to "初めての方へ", about_path, style:"color:#FFF;", class: "nav-link" %>
    </li>
    <li>
      <%= link_to "メンバー募集一覧", teammate_recruitments_path, style:"color:#FFF;", class:"nav-link"%>
    </li>
    <li>
      <%= link_to "マッチメイク募集一覧", matchmakes_path, style:"color:#FFF;", class:"nav-link"%>
    </li>
  </ul>
<% end %>

